:root {
  --white: #ffffff;
  --black30: #303030;
  --black46: #464646;
  --gray: #707070;
  --primarycolor: #009fd1;
  --bgcolorlite: #f9f9f9;
}
* {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
  font-family: myFontBlack;
  src: url(./fonts/AvenirLTStd-Black.otf);
}
@font-face {
  font-family: myFontBook;
    src: url(./fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: myFontRoman;
    src: url(./fonts/AvenirLTStd-Roman.otf);
}
body {
  font-family: myFontBook !important;
  overflow-x: hidden;
}
